@import "../../global.scss";



.intro{
  

  

  

    display: flex;
    
    .btext{
      
      overflow: hidden;
      user-select: none;
      font-size: calc(60px + 8 * ((100vw - 320px) / 680));
      font-style: italic;
      font-weight: 500;
      -webkit-text-stroke: 1.5px rgb(136, 136, 136);
      -webkit-text-fill-color: rgba(0, 0, 0, 0);
      
        

        }

        .left{
          flex: 0.5;
          
          overflow: hidden;
          .imgContainer{
            height: 1200px;
            width: 1200px;
            background-color: $red;
            -webkit-text-stroke:0;
            -webkit-text-fill-color: rgb(255, 255, 255);
            border-radius:50% ;
            display:flex ;
            align-items: center;
            justify-content: center;
            float: left;
            font-size: 45vh;
            float: right;
            margin-top: 10px;

        }
        }
        .right{
          flex:0.5;
          background-color: rgba(53, 77, 155, 0);
          padding-top: 50px;
          
        }
       
}
