@import "../../global.scss";

.intro{
    
//$bg-url: "https://www.toptal.com/designers/subtlepatterns/uploads/fancy-cushion.png";

  $bg-width: 50px;
  $bg-height: 50px;

@keyframes bg-scrolling-reverse {
  100% {
    background-position: $bg-width $bg-height;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: $bg-width $bg-height;
  }
  
}

  //background: url($bg-url) repeat 0 0;
  background: url(/./components/intro/ad.png) repeat 0 0;

  animation: bg-scrolling-reverse 0.6s infinite; /* IE 10+ */
  animation-timing-function: linear;

  

    display: flex;
    
    .btext{
      
      overflow: hidden;
      user-select: none;
      font-size: 10vh;
      font-style: italic;
      font-weight: 500;
      -webkit-text-stroke: 1.5px rgb(0, 0, 0);
      -webkit-text-fill-color: rgba(255, 255, 255, 0);
      
        

        }

        .left{
          flex: 0.5;
          
          overflow: hidden;
          .imgContainer{
            height: 1200px;
            width: 1200px;
            background-color: $red;
            -webkit-text-stroke:0;
            -webkit-text-fill-color: rgb(255, 255, 255);
            border-radius:50% ;
            display:flex ;
            align-items: center;
            justify-content: center;
            float: left;
            font-size: 45vh;
            float: right;
            margin-top: 10px;

        }
        }
        .right{
          flex:0.5;
          background-color: rgba(53, 77, 155, 0);
          padding-top: 50px;
          
        }
       
}
